<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bio.css" />
    <link rel="shortcut icon" href="/imgs/assinatura.png" />
    <title>sobre</title>
  </head>
  <body>
    <!-- PARTE DO CABEÇALHO -->
    <header class="cabecalho">
      <div class="div_navegacao">
        <ul class="ul_navegacao">
          <li class="sanduiche_e_sobre" id="sanduiche_e_sobre">
            <a href="#">
              <img
                src="/imgs/sanduiche.png"
                alt="img sanduiche"
                class="img_sanduiche"
                id="img_sanduiche"
              />
            </a>
            <section id="container"></section>
            <input type="text" placeholder="buscar" class="buscar" />
          </li>

          <li>
            <a href="#">
              <img src="/imgs/assinatura.png" alt="logo arm" class="logo_arm" />
            </a>
          </li>

          <li class="carrinho_e_boneco">
            <a href="#" class="carrinho" id="carrinho">
              <img src="/imgs/carrinho.png" alt="img carrinho" />
            </a>
            <a href="#" class="boneco_pessoa" id="boneco_pessoa">
              <img
                src="/imgs/boneco_pessoa.png"
                alt="img boneco dados pessoais"
              />
            </a>
          </li>
        </ul>
      </div>
    </header>
    <!-- FIM DO CABEÇALHO -->

    <main class="principal">
      <img src="/imgs/bio.png" alt="img bio" class="img_bio" />
      <div class="div_texto">
        <h2 class="texto_principal">Texto</h2>
        <p class="texto_subtitulo">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <img
        src="/imgs/mario_presente.png"
        alt="img pessoa segurando presente"
        class="img_presente"
      />
    </main>
  </body>
</html>
