<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>arte no armário</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/imgs/assinatura.png" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Creepster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&family=VT323&display=swap");
    </style>
  </head>
  <body>
    <header id="header">
      <nav id="navegador">
        <div class="img-sanduiche-input-div">
          <img
            src="/imgs/sanduiche.png"
            alt="img sancuiche"
            class="img-sanduiche"
          />

          <input type="text" placeholder="buscar" class="input-navegador" />
        </div>

        <div class="img-assinatura-div">
          <img
            src="/imgs/assinatura.png"
            alt="assinatura img"
            class="img-assinatura"
          />
        </div>

        <div class="img-carrinho-boneco-div">
          <img
            src="/imgs/carrinho.png"
            alt="carrinho img"
            class="img-carrinho"
          />
          <img
            src="/imgs/boneco_pessoa.png"
            alt="boneco pessoa"
            class="img-boneco"
          />
        </div>
      </nav>
    </header>

    <main id="main">
      <div id="content">
        <section id="banner">
          <div id="img-pe-calca-div">
            <img
              src="/imgs/imagem_pe_calca.png"
              alt="img de pe e calça"
              class="img-pe-calca"
            />
          </div>

          <div id="img-circulo-div">
            <img
              src="/imgs/circulo.png"
              alt="img escrito 'loja' dentro de um círculo"
              class="img-circulo"
            />
          </div>
        </section>
      </div>

      <div id="store">
        <section id="store-content">
          <div id="img-circulo-div2">
            <img
              src="/imgs/circulo.png"
              alt="img escrito 'loja' dentro de um círculo"
              class="img-circulo2"
            />
          </div>
          <div class="select-div">
            <div id="select-option">
              <select name="tudo" class="tudo" id="tudo">
                <option value="tudo">tudo</option>
                <option value="exemplo1">exemplo 1</option>
                <option value="exemplo2">exemplo 2</option>
              </select>
            </div>

            <div id="retangulo-triangulo-div">
              <img
                src="/imgs/retangulo.png"
                alt="img retângulo"
                class="retangulo"
              />
              <img
                src="/imgs/triangulo.png"
                alt="img triângulo"
                class="triangulo"
              />
            </div>
          </div>
        </section>

        <section id="card-linha">
          <div id="store-card">
            <div id="linha-vermelha-div">
              <img
                src="/imgs/linha_vermelha.png"
                alt="linha vermelha"
                class="linha-vermelha"
              />
            </div>
        </section>
      </div>
    </main>
  </body>
</html>
