<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/loja.css" />
    <link rel="shortcut icon" href="/imgs/assinatura.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>loja</title>
  </head>
  <body>
    <!-- PARTE DO CABEÇALHO -->
    <header class="cabecalho">
      <div class="div_navegacao">
        <ul class="ul_navegacao">
          <li class="sanduiche_e_sobre" id="sanduiche_e_sobre">
            <a href="#">
              <img
                src="/imgs/sanduiche.png"
                alt="img sanduiche"
                class="img_sanduiche"
                id="img_sanduiche"
              />
            </a>
            <section id="container"></section>
            <input type="text" placeholder="buscar" class="buscar" />
          </li>

          <li>
            <a href="#">
              <img src="/imgs/assinatura.png" alt="logo arm" class="logo_arm" />
            </a>
          </li>

          <li class="carrinho_e_boneco">
            <a href="#" class="carrinho" id="carrinho">
              <img src="/imgs/carrinho.png" alt="img carrinho" />
            </a>
            <a href="#" class="boneco_pessoa" id="boneco_pessoa">
              <img
                src="/imgs/boneco_pessoa.png"
                alt="img boneco dados pessoais"
              />
            </a>
          </li>
        </ul>
      </div>
    </header>
    <!-- FIM DO CABEÇALHO -->

    <!-- PARTE DO MEIO -->
      <div class="circulo_e_opcoes">
        <img src="/imgs/circulo.png" alt="img circulo" class="img_circulo" />
        <select name="tudo" class="tudo" id="tudo">
          <option value="tudo">tudo</option>
          <option value="exemplo1">exemplo 1</option>
          <option value="exemplo2">exemplo 2</option>
        </select>
        <div class="retangulo_poligono">
          <img
            src="/imgs/retangulo.png"
            alt="img retângulo"
            class="retangulo"
          />
          <img src="/imgs/poligono.png" alt="img polígono" class="poligono" />
        </div>
      </div>

      <div class="linha">
        <img
          src="/imgs/linha_vermelha.png"
          alt="img linha vermelha"
          class="linha_vermelha"
        />
      </div>
      <div class="produtos">
        <div class="produto">
          <img
            src="https://br.web.img3.acsta.net/c_310_420/pictures/15/12/28/19/12/109629.jpg"
            alt="#"
          />
          <div class="titulo_preco_comprar">
            <h1 class="titulo">titulo titulo</h1>
            <h2 class="preco">00,00</h2>
            <button class="botao_comprar">comprar</button>
          </div>
        </div>

        <div class="produto">
    
          <div class="titulo_preco_comprar">
            <img
            src="https://play-lh.googleusercontent.com/ZhWB3osrRkS5w4fVF9h6Ob47t5de8KePlOM-lpDDbhioqBE_e1yR8Nyx7cWUsmK1FezdrxUcv47dms9GtDs"
            alt="#"
          />

            <h1 class="titulo">titulo titulo</h1>
            <h2 class="preco">00,00</h2>
            <button class="botao_comprar">comprar</button>
          </div>
        </div>

        <div class="produto">
          <img
            class="movie_3-iron"
            src="https://m.media-amazon.com/images/M/MV5BYzQxNGU5YjktNzE0NC00MjE1LTk2ODEtYjkwMzY5M2RmMTIwXkEyXkFqcGc@._V1_.jpg"
            alt="#"
          />
          <div class="titulo_preco_comprar" id="teste">
            <h1 class="titulo">titulo titulo</h1>
            <h2 class="preco">00,00</h2>
            <button class="botao_comprar">comprar</button>
          </div>
        </div>
      </div>

      <section id="container"></section>
    </main>
  </body>
</html>
