<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/contato_orcamento.css" />
    <link rel="stylesheet" href="/css/orcamento.css" />
    <link rel="shortcut icon" href="/imgs/assinatura.png" />
    <title>orçamento</title>
  </head>
  <body>
    <!-- PARTE DO CABEÇALHO -->
    <header class="cabecalho">
      <div class="div_navegacao">
        <ul class="ul_navegacao">
          <li class="sanduiche_e_sobre" id="sanduiche_e_sobre">
            <a href="#">
              <img
                src="/imgs/sanduiche.png"
                alt="img sanduiche"
                class="img_sanduiche"
                id="img_sanduiche"
              />
            </a>
            <input type="text" placeholder="buscar" class="buscar" />
          </li>

          <li>
            <a href="#">
              <img
                src="/imgs/arte_no_armario.png"
                alt="logo arm"
                class="logo_arm"
              />
            </a>
          </li>

          <li class="carrinho_boneco_lupa">
            <a href="#" class="lupa" id="lupa">
              <img src="/imgs/lupa_dois.png" alt="img lupa" />
            </a>
            <a href="#" class="carrinho" id="carrinho">
              <img src="/imgs/carrinho.png" alt="img carrinho" />
            </a>
            <a href="#" class="boneco_pessoa" id="boneco_pessoa">
              <img
                src="/imgs/boneco_pessoa.png"
                alt="img boneco dados pessoais"
              />
            </a>
          </li>
        </ul>
      </div>
    </header>
    <!-- FIM DO CABEÇALHO -->

    <main>
      <div class="div_principal">
        <div class="div_sub">
          <img
            src="/imgs/orcamento.png"
            alt="logo orçamento"
            class="img_orcamento"
          />
        </div>
        <div class="div_sub">
          <p class="p_texto">
            Lorem ipsum dolor sit amet consectetur, adipisicing eli Nihil
            temporibus ea ipsa natus repellat officiis! Inventor doloribuseaque
            tenetur error mollitia pariatur possimus! Excepturi suscipit culpa
            corrupti amet quia qui!
          </p>
        </div>
        <div class="div_sub">
          <form class="formulario">
            <div class="nome_sobrenome">
              <div class="label_nome_sobrenome">
                <label for="nome">nome</label>
                <input type="text" />
              </div>
              <div class="label_nome_sobrenome">
                <label for="sobrenome">sobrenome</label>
                <input type="text"/>
              </div>
            </div>

            <div class="label_email_sobre">
              <label for="email" class="email">email</label>
              <input type="email" class="email"/>
            </div>
            <div>
              <label for="sobre" class="sobre">sobre</label>
              <textarea name="sobre" id="sobre" class="sobre"></textarea>
            </div>
            <button class="botao_enviar">enviar</button>
          </form>
        </div>
        <div class="div_calca">
          <img
            class="img_calca"
            src="/imgs/imagem_pe_calca2.png"
            alt="imagem pe_calca"
          />
        </div>
      </div>
    </main>
  </body>
</html>
